.App {
  text-align: center;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.GoroutineBody-header {
  fill: grey;
}
.GoroutineBody-main {
  fill: lightgrey;
}
.GoroutineBody-header:hover {
  fill: blue;
  cursor: pointer;
}
.GoroutineBody.selected .GoroutineBody-header {
  fill: darkblue;
}


.SpawnLine-line {
  stroke: grey;
}
.SpawnLine-outline {
  fill: white;
}
.SpawnLine-parentPoint {
  fill: grey;
}
.SpawnLine:hover {
  cursor: pointer;
}
.SpawnLine:hover .SpawnLine-line {
  stroke: blue;
}
.SpawnLine:hover .SpawnLine-parentPoint {
  fill: blue;
}
.SpawnLine.selected .SpawnLine-line {
  stroke: darkblue;
}
.SpawnLine.selected .SpawnLine-parentPoint {
  fill: darkblue;
}